<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>

        <!-- Vriable content that we want to show -->
        <main id="layout-main">
            <%- body %>
        </main>
        

        <%- include('_footer'); %>

        <%- script %>
    </body>
</html>